.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
}

.sky {
    background-color: blue;
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-color: brown;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
}

.bird {
    background-color: yellow;
    position: absolute;
    width: 60px;
    height: 50px;
}